<div class="container text-center">
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem quam eos laborum adipisci possimus itaque, sequi impedit dolor, numquam mollitia, at placeat unde tempora nulla non rerum tenetur earum.</p>
</div>